:root {
    --primary-color: #778DA9;
    --secondary-color: #1B263B;
    --tertiary-color: #E0E1DD;

}
body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: Georgia, 'Times New Roman', Times, serif;

}
section {
    padding: 40px;
}
.section-title {
    font-size: 50px;
    color: var(--tertiary-color);
    text-align: center;
    border-bottom: 3px solid;
    padding-bottom: 10px;
    border-color:#1B263B;
    width: 35%;
    margin: 0 auto 25px auto;
    
}
/* About Me section */
.about-section {
    width: 100%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-section p {
    font-size: 20px;
}

.center {
    display: block;
    margin: auto;
    width: 35%;
}
/* My Work section */

.work-section {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.main-project h3 {
    font-size: 30px;
    text-align: center;
}

.work-section article {
    padding: 25px;
    margin: 15px;
}
.main-project {
    background-color: var(--tertiary-color);
}

.main-project img {
    display: block;
    margin: auto;
    width: 75%;
}
/* Projects 2-5 */
.flex-container {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    justify-content: space-around;   
}
.projects {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 15px; 
}
.project {
    margin: 10px;
    flex: 1;
    background-color: var(--tertiary-color);
}
.project img {
    width: 100%;
    justify-content: center;
} 

.project h3 {
    text-align: center; 
    font-size: 45px;
    line-height: 1.3;
}